/* colors */
:root {
  --caption: #0c0c0d;
}

/* manifest v3 */
.mv3 .disabled-mv3 {
  opacity: .4;
  pointer-events: none;
}
.mv3 .disabled-mv3::before {
  content: 'Sorry this Manifest v3 does not support this.';
  display: block;
  font-size: 1rem;
  margin: 0 1.2rem;
  opacity: 1;
}

/* paging */
.first-page {
  flex-direction: column;
  display: flex;
  /* cancel margin of body */
  margin-top: -2em;
  & > h2 {
    margin-top: 0;
  }
  padding-bottom: 0;
}
.splash {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.splash-icon {
  width: 128px;
}
.splash-title {
  font-weight: bold;
}
.page {
  box-sizing: border-box;
  /* min-height: 100vh; this setting has probrem of scroll position. */
  padding-bottom: 2rem;
  padding-top: 1.3rem;
  & > h2 {
    border-top: 1pt solid var(--third) !important;
  }
}
.page-break {
  border: none;
  margin: 1rem 0;
}

/* items */
.any-items-container {
  transition: .2s;
}
.sub-item, .link-item {
  /* same `.item` */
  clear: both;
  cursor: pointer;
  display: block;
  padding: .8rem 0;
  margin: 0 1.2rem;
  position: relative;
  transition: .2s;
}
.sub-item {
  margin-right: 0;
  padding: .4rem 0;
}
.link-item {
  &::before {
    background-image: linear-gradient(to left, #0000, #ccc5, #0000);
    content: '';
    height: 100%;
    left: 25%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: .4s;
    width: 50%;
  }
  &.active::before {
    left: 0%;
    opacity: 1;
    width: 100%;
  }
}
.caption,
.gesture-caption {
  color: var(--caption);
  display: block;
  font-size: 1.1rem;
  position: relative;
}
.sub-caption {
  color: var(--caption);
  display: block;
}
.summary {
  color: var(--secondery);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.explanation {
  padding: .4rem 0;
}
.note {
  color: var(--secondery);
  display: block;
  font-size: .8rem;
}
.note-alert, .note-help, .note-info {
  margin-left: 1rem;
}
.note-alert::before, .note-help::before, .note-info::before {
  background: #fc3;
  border-radius: 50%;
  color: #333 !important;
  display: inline-block;
  font-weight: bold;
  height: 1rem;
  line-height: 1rem;
  margin: .1rem .1rem .1rem -1rem;
  text-align: center;
  vertical-align: bottom;
  width: 1rem;
}
.note-help::before {
  background: #33ccff;
  color: #fff !important;
  content: '?';
}
.note-info::before {
  background: #33ccff;
  color: #fff !important;
  content: 'i';
}
.note-alert::before {
  border-radius: 0;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" stroke="%23ffcc33" fill="%23ffcc33" stroke-linejoin="round"><path d="M4 14h-2q-1 0-1-1l6-11 q1-1 2 0l6 11q0 1-1 1z"/></svg>');
  background-size: contain;
  content: '!';
}
.with-checkbox {
  padding-right: 3rem;
}

/* gestures */
.arrows {
  color: var(--secondery);
  border: 2px dashed transparent;
}
.arrows-na {
  border-color: unset;
  border-radius: 4px;
  white-space: pre;
  width: 3em;
}
.gesture-caption,
.arrows,
.number-input {
  transition: color .5s ease;
}
.custom-gesture-buttons {
  position: absolute;
  right: 0;
  top: .8rem;
}

/* dialog */
.dlg-labels {
  bottom: calc(50% + 30vmin + .5rem);
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2rem;
  overflow: hidden;
  position: fixed;
  text-align: center;
  text-shadow: 0px 0px 2px #fbfbfe77;
  width: 100%;
}
.adjustment-dlg-caption {
  color: #fff;
  font-size: 1.2rem;
}
@media (max-height: 23rem) {
  .gesture-area {
    opacity: 0;
    height: 0;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 0;
  }
  .dlg-labels {
    bottom: calc(50% - 1rem);
  }
}

#preventPullToRefresh {
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100vw;
}
.prevent-pull-to-refresh {
  height: calc(100vh + 2000px);
  width: calc(100vw + 2000px);
}
.gesture-area {
  background: #fff;
  content: ' ';
  display: block;
  height: 54vmin;
  left: calc( 50% - 27vmin );
  position: fixed;
  top: calc( 50% - 27vmin );
  transition: .3s;
  width: 54vmin;
}
.inputed-gesture-container {
  overflow: visible;
  overflow-x: hide;
}
#inputedStartPoint {
  bottom: -1rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 0px #0000;
  transition: .2s;
  width: 100%;
}
#inputedGesture {
  display: inline-block;
  margin: 0;
  text-shadow: 0px 0px 0px #0000;
  transition: .2s;
}
#dupName {
  display: inline-block;
  margin: 0;
}
.dup {
  color: red;
  text-shadow: 0px 0px 2px #f007;
}
.canceled {
  color: #999;
  text-decoration: line-through;
  text-shadow: 0px 0px 2px #0007;
}
@media (max-height: 23rem) {
  .dlg-buttons {
    top: calc(50% + 1.5rem);
  }
}

/* user-agent */
.user-agent-status {
  position: absolute;
  right: .2rem;
  top: .5rem;
}

/* custom gesture */
#addCustomGesture {
  margin: 1rem 1.2rem;
}
#customGestureDlgContainer {
  width: 100%;
}
#customGestureTitle,
#customGestureType,
#customGestureUrl {
  flex: none;
  margin-bottom: .7rem;
  width: auto;
}
#customGestureScriptDiv {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
#customGestureScript {
  flex: 1 1 auto;
  font-size: 80%;
  min-height: 6em;/* don't "rem" */
  width: auto;
  word-break: break-all;
}
.custom-gesture-script-note {
  flex: 0 1 auto;
  overflow: hidden;
  padding: 2px;
  position: relative;
  text-align: left;
}
#addCommandToScript {
  font-size: .9rem;
  max-width: calc(100% - 1.6rem);
  padding: 0;
}
.custom-gesture-script-note::after {
  background: linear-gradient(rgba(249,249,250,0) 0,rgba(249,249,250,1) 100%);
  bottom: 0;
  content: '';
  display: block;
  height: 4px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#customGestureMsgDiv {
  text-align: left;
}

/* blacklist */
#blacklistDlg > .dlg-container {
  width: 100%;
}
.blacklist-item {
  margin-bottom: .5em;
}
.blacklist-input {
  margin-right: .5em;
  vertical-align: middle;
  width: calc(100% - 3.5em);
}
.blacklist-item:last-child .delete-blacklist {
  opacity: .3;
}

/* others */
.code, .inline-code {
  background: #999;
  border-radius: 4pt;
  border: none;
  color: #eee;
  margin: 2pt;
  max-width: 100%;
  padding: 2pt;
  word-break: break-all;
}
.code {
  user-select: element;
}
.inline-code {
  display: inline;
  padding: 0 2pt;
  text-overflow: ellipsis;
  word-break: break-word;
}
#debuglog {
  max-width: 100%;
  overflow: auto;
  white-space: pre;
}
.errorlog {
  color: #fca;
}
.stacktrace {
  color: #fca;
  margin-left: 1em;
}

/* buttons */
.icon-delete {
  color:var(--red);
  background: var(--button);
}
.icon-delete::before {
  background: var(--red);
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" stroke="black" stroke-width="1" fill="none"><path d="M2 4h12M4 4v9q0 1 1 1h6q1 0 1-1v-9M6.5 6v6M9.5 6v6M6 4q0 -2 2-2 2 0 2 2"/></svg>');
}
.icon-edit::before {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" stroke="black" stroke-width="1" fill="none"><path d="M14 14h-4l-8-8q-1-1 0-2l2-2q1-1 2 0l8 8zM3 7l4-4"/></svg>');
}
.icon-add::before {
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" stroke="black" stroke-width="1"><path d="M2 8h12M8 2v12"/></svg>');
}

/* icon */
.icon-flask::after {
  display: inline-block;
  height: 1.2rem;
  margin: 0.2rem;
  width: 1.2rem;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle fill="%23cb9eff" cx="8" cy="8" r="8"/><path fill="%233338" d="M5 7l6 0l2 4h-10z"/><path fill="none" stroke="%23333" stroke-width="1.5" stroke-linejoin="round" d="M9.5 2v3l3.5 6h-10l3.5-6v-3"/></svg>');
}

/* Experimental page */
.title + .item {
  padding-top: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --caption: #fbfbfecc;
  }
  .gesture-caption {
    color: var(--caption);
  }
  .gesture-area {
    background: #141414aa;
    border: 1px solid var(--fg-color);
  }
  .canceled {
    color: #999;
    text-shadow: 0px 0px 2px #9997;
  }
  .custom-gesture-script-note::after {
    background: linear-gradient(rgba(66,65,77,0) 0,rgba(66,65,77,1) 100%);
  }
  .code, .inline-code {
    background: #444;
    color: #eee;
  }
}

/* for Beta version */
.beta {
  .splash-icon {
    filter: hue-rotate(200deg);
  }
}
